<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div class="row">
    <!-- Name -->
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name"
          placeholder="Medication name"~
          [errorStateMatcher]="matcher">
           <mat-error *ngIf="submitted && form.get('name')?.hasError('required')">
              Name is required
          </mat-error>
          <mat-error *ngIf="submitted && form.get('name')?.hasError('maxlength')">
              Maximum 50 characteres
          </mat-error>
      </mat-form-field>
    </div>

    <!-- Category -->
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Category</mat-label>
        <input
          matInput
          formControlName="category"
          placeholder="Category"
          [errorStateMatcher]="matcher">
           <mat-error *ngIf="submitted && form.get('category')?.hasError('required')">
              Category is required
          </mat-error>
          <mat-error *ngIf="submitted && form.get('category')?.hasError('maxlength')">
              Maximum 30 characteres
          </mat-error>
      </mat-form-field>
    </div>

    <!-- Quantity -->
    <div class="col-md-3">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Quantity</mat-label>
        <input
          matInput
          type="number"
          min="1"
          formControlName="quantity">
          <mat-error *ngIf="submitted && form.get('category')?.hasError('required')">
              Quantity is required
          </mat-error>
          <mat-error *ngIf="submitted && form.get('quantity')?.hasError('min')">
             At least 1
          </mat-error>
          <mat-error *ngIf="submitted && form.get('quantity')?.hasError('pattern')">
              No decimal numbers allowed
          </mat-error>
      </mat-form-field>
    </div>

    <!-- Button -->
    <div class="col-md-3 d-flex justify-content-center">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="w-100 medication-action-btn">
        {{ form.get('id')?.value ? 'Update' : 'Add' }}
      </button>
    </div>

  </div>

</form>
