.table-container {
  max-height: 400px;   /* ajusta ao teu gosto */
  overflow-y: auto;
}

.medication-table {
  width: 100%;
}

.medication-table {
  border-radius: 8px;
  overflow: hidden;
}

.medication-table th {
  font-weight: 600;
  color: #555;
  padding: 16px;
}

.medication-table td {
  padding: 16px;
  vertical-align: middle;
}

.medication-table tr.mat-row:hover {
  background-color: #f7f9fc;
}
