<div class="medication-page-wrapper">
  <h1 class="medication-page-title">Smart Med Challenge</h1>
  <div class="medication-page-content">
    <div class="card mb-4">
      <div class="card-body">
        <app-medication-form
        (save)="onSave($event)"
        [selected]="selected">
        </app-medication-form>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Filter by name..."
          [(ngModel)]="filterText"
          (input)="applyFilter()">
      </div>
    </div>

    <div class="card">
      <div class="card-body list-wrapper">
        <app-medication-list 
        [items]="items"
        (update)="onUpdate($event)"
        (delete)="onDelete($event)">
        </app-medication-list>
      </div>
    </div>

  </div>

</div>
