.medication-page-wrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.list-wrapper {
  height: 400px;          /* fixa a altura */
  overflow-y: auto;       /* scroll só aqui */
}