.medication-page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px; 
  background-color: #f5f7fa;

  &-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 32px;
    color: #3f51b5;
  }

  &-content {
    width: 100%;
    max-width: 1100px;
    padding: 0 16px;
  }
  .list-wrapper {
    height: 400px;
    overflow-y: auto;
  }
}
